@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-horizontal {
    background-color: rgb(37, 37, 39);
}

#menu-horizontal ul {
    
    list-style: none;
    padding: 0;
    
}

#menu-horizontal ul li {
    display: inline;
}

#menu-horizontal ul li a {
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#menu-horizontal ul li a:hover {
    background-color: rgb(233, 122, 236);
}

#menu-horizontal ul li:last-child a {
    float: right;
    background-color: rgb(155, 48, 149);;
}

#menu-horizontal ul li:last-child a:hover {
    background-color: rgba(97, 40, 94, 0.582);
    
}